.dock {
  @apply bg-base-100 fixed right-0 bottom-0 left-0 z-1 flex w-full flex-row items-center justify-around p-2 text-current;
  border-top: 0.5px solid color-mix(in oklab, var(--color-base-content) 5%, #0000);
  height: calc(4 * var(--rem-basis, 1rem));
  height: calc((4 * var(--rem-basis, 1rem)) + env(safe-area-inset-bottom));
  padding-bottom: env(safe-area-inset-bottom);
  > * {
    @apply rounded-box relative mb-2 flex h-full max-w-32 shrink-1 basis-full cursor-pointer flex-col items-center justify-center gap-px bg-transparent;
    transition: opacity 0.2s ease-out;
    &:where(.dock-active) {
      &:after {
        content: "";
        @apply absolute h-1 w-10 rounded-full bg-current;
        bottom: calc(0.2 * var(--rem-basis, 1rem));
        border-top: 3px solid;
      }
    }
    @media (hover: hover) {
      &:hover {
        @apply opacity-80;
      }
    }
    &[aria-disabled="true"],
    &[disabled] {
      &,
      &:hover {
        @apply text-base-content/10 pointer-events-none opacity-100;
      }
    }

    .dock-label {
      font-size: calc(0.6875 * var(--int-font-base, 1rem));
    }
  }
}

.dock-xs {
  height: calc(3 * var(--rem-basis, 1rem));
  height: calc((3 * var(--rem-basis, 1rem)) + env(safe-area-inset-bottom));

  .dock-active {
    &:after {
      bottom: -calc(0.1 * var(--rem-basis, 1rem));
    }
  }

  .dock-label {
    font-size: calc(0.625 * var(--int-font-base, 1rem));
  }
}

.dock-sm {
  @apply h-14;
  height: calc(3.5 * var(--rem-basis, 1rem));
  height: calc((3.5 * var(--rem-basis, 1rem)) + env(safe-area-inset-bottom));

  .dock-active {
    &:after {
      bottom: -calc(0.1 * var(--rem-basis, 1rem));
    }
  }

  .dock-label {
    font-size: calc(0.625 * var(--int-font-base, 1rem));
  }
}

.dock-md {
  height: calc(4 * var(--rem-basis, 1rem));
  height: calc((4 * var(--rem-basis, 1rem)) + env(safe-area-inset-bottom));
  .dock-label {
    font-size: calc(0.6875 * var(--int-font-base, 1rem));
  }
}

.dock-lg {
  height: calc(4.5 * var(--rem-basis, 1rem));
  height: calc((4.5 * var(--rem-basis, 1rem)) + env(safe-area-inset-bottom));

  .dock-active {
    &:after {
      bottom: calc(0.4 * var(--rem-basis, 1rem));
    }
  }

  .dock-label {
    font-size: calc(0.625 * var(--int-font-base, 1rem));
  }
}

.dock-xl {
  height: calc(5 * var(--rem-basis, 1rem));
  height: calc((5 * var(--rem-basis, 1rem)) + env(safe-area-inset-bottom));

  .dock-active {
    &:after {
      bottom: calc(0.4 * var(--rem-basis, 1rem));
    }
  }

  .dock-label {
    font-size: calc(0.75 * var(--int-font-base, 1rem));
  }
}
