.label {
  @apply inline-flex items-center gap-1.5 whitespace-nowrap text-current/60;
  &:has(input) {
    @apply cursor-pointer;
  }
  &:is(.input > *, .select > *) {
    @apply flex h-[calc(100%-0.5rem)] items-center px-3 whitespace-nowrap;
    font-size: inherit;
    &:first-child {
      @apply -ms-3 me-3;
      border-inline-end: var(--border) solid color-mix(in oklab, currentColor 10%, #0000);
    }
    &:last-child {
      @apply ms-3 -me-3;
      border-inline-start: var(--border) solid color-mix(in oklab, currentColor 10%, #0000);
    }
  }
}
.floating-label {
  @apply relative block;
  input {
    @apply block;
    &::placeholder {
      transition:
        top 0.1s ease-out,
        translate 0.1s ease-out,
        scale 0.1s ease-out,
        opacity 0.1s ease-out;
    }
  }
  textarea {
    &::placeholder {
      transition:
        top 0.1s ease-out,
        translate 0.1s ease-out,
        scale 0.1s ease-out,
        opacity 0.1s ease-out;
    }
  }
  > span {
    @apply bg-base-100 absolute start-3 z-1 px-1 opacity-0;
    top: calc(var(--size-field, 0.25rem) * 10 / 2);
    line-height: 1;
    border-radius: 2px;
    pointer-events: none;
    translate: 0 -50%;
    transition:
      top 0.1s ease-out,
      translate 0.1s ease-out,
      scale 0.1s ease-out,
      opacity 0.1s ease-out;
  }
  &:focus-within,
  &:not(:has(input:placeholder-shown, textarea:placeholder-shown)) {
    ::placeholder {
      @apply opacity-0;
      top: 0;
      translate: -12.5% calc(-50% - 0.125em);
      scale: 0.75;
      pointer-events: auto;
    }
    > span {
      @apply opacity-100;
      top: 0;
      translate: -12.5% calc(-50% - 0.125em);
      scale: 0.75;
      pointer-events: auto;
    }
  }
  &:has(:disabled, [disabled]) {
    > span {
      @apply opacity-0;
    }
  }
  &:has(.input-xs) span {
    font-size: calc(0.6875 * var(--font-size-basis, 1rem));
    top: calc(var(--size-field, 0.25rem) * 6 / 2);
  }
  &:has(.input-sm) span {
    font-size: calc(0.75 * var(--font-size-basis, 1rem));
    top: calc(var(--size-field, 0.25rem) * 8 / 2);
  }
  &:has(.input-md) span {
    font-size: calc(0.875 * var(--font-size-basis, 1rem));
    top: calc(var(--size-field, 0.25rem) * 10 / 2);
  }
  &:has(.input-lg) span {
    font-size: calc(1.125 * var(--font-size-basis, 1rem));
    top: calc(var(--size-field, 0.25rem) * 12 / 2);
  }
  &:has(.input-xl) span {
    font-size: calc(1.375 * var(--font-size-basis, 1rem));
    top: calc(var(--size-field, 0.25rem) * 14 / 2);
  }
}
