.navbar {
  @apply flex w-full items-center;
  padding: calc(0.5 * var(--rem-basis, 1rem));
  min-height: calc(4 * var(--rem-basis, 1rem));
}

.navbar-start {
  @apply inline-flex items-center;
  width: 50%;
  justify-content: flex-start;
}

.navbar-center {
  @apply inline-flex items-center;
  @apply shrink-0;
}

.navbar-end {
  @apply inline-flex items-center;
  width: 50%;
  justify-content: flex-end;
}
